/*#form-container {
    margin: 0px 10px 0px 10px;
}

.buttons-group {
    display: flex;
    width: 100%;
    justify-content: start;
}

.form {
    background-color: white;
}

.dx-layout-manager .dx-field-item {
    padding-bottom: 5px;
    font-size: 12px;
}

.dx-layout-manager .dx-field-item:not(.dx-first-row) {
    padding-top: 5px;
}

.street-name {
    display: inline-block;
    font-weight: bold;
    text-indent: 0;
    line-height: 25px;
    font-size: 15px;
    width: 100%;
}*/